---
name: port
layout: default
title: Liam Palmer - Hi
---

<div class="hero">
  <!-- Header -->
  <div class="hero-heading">
    <h1 class="header-text">Hi, I'm Liam</h1>
  </div>
  <div class="hero-desc">
    <p class="subheader-text">
      I'm a recent graduate, <span>web developer,</span>
      <span>and coding enthusiast </span>
    </p>
    <div class="go">
      <a href="#projects">See my work</a>
    </div>
  </div>
</div>

<!--Projects-->

<section class="projects" id="projects">
  <h2 class="header-text">Projects</h2>
  <div class="project-list">
    {% for proj in site.projects %}
    <div class="project-card">
      <!-- prettier-ignore -->
      {% if proj.title == "DW to Anki"%} 
        {% assign img-class = "anki" %} 
      {% else %}
        {% assign img-class = "" %} 
      {% endif %} 
      <img class="{{img-class}}" src={{ "/assets/img/projects/" | append: proj.img }} alt="" />
      <div class="card-body">
        <h3 class="title">{{ proj.title }}</h3>
        <div class="desc">
          <span class="lang">{{ proj.lang }}</span>
          {{proj.desc}}
        </div>
        <div class="actions">
          <a href="{{ proj.url }}">DETAILS</a>
          <a href="{{ proj.repo }}">REPO</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!--Contact-->
<section class="contact" id="contact">
  <h2 class="header-text">Where to Find Me</h2>
  <div class="contact-desc">
    <div>
      <a href="https://github.com/liampalmer0">
        <img src="/assets/img/GitHub-Mark-64px.png" alt="" />
        <span>Github</span>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/liam-palmer">
        <img src="/assets/img/linkedin-72px.png" alt="" />
        <span>LinkedIn</span>
      </a>
    </div>
    <div>
      <a href="https://www.hackerrank.com/palmerlr">
        <img src="/assets/img/hackerrank-64px.png" alt="" />
        <span>HackerRank</span>
      </a>
    </div>
  </div>
</section>
