---
name: port
layout: default
title: Liam Palmer - Hi
---

<div class="hero">
  <!-- Header -->
  <div class="hero-heading">
    <div>
      <h1 class="header-text">
        <span class="greeting"> Hi </span> <br />
        I'm Liam
      </h1>
    </div>
  </div>
  <div class="hero-desc">
    <p class="subheader-text">I'm a recent graduate & JavaScript developer.</p>
    <p class="subheader-text"><u>please consider hiring me</u> :)</p>
  </div>
</div>

<!--Projects-->

<section class="projects" id="projects">
  <h2 class="header-text">Projects</h2>
  <div class="project-list">
    {% for proj in site.projects %}
    <div class="project">
      <h4>
        <h4 class="title">{{ proj.title }}</h4>
        <!-- <a href="{{ proj.url }}"> {{ proj.name }} </a> -->
      </h4>
      <img src={{ "/assets/img/projects/" | append: proj.img }} alt="{{ proj.alt }}" />
      <div class="desc">{{proj.desc}}</div>
      <div class="tech-list">
        {% for tech in proj.techs %}
        <div class="tech chip">{{ tech }}</div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!--Contact-->
<section class="contact" id="contact">
  <h2 class="header-text">Contact Me</h2>
  <div class="contact-desc">
    <div>
      <h3>GitHub:</h3>
      <p>github.com/liampalmer0</p>
    </div>
    <div>
      <h3>HackerRank:</h3>
      <p>www.hackerrank.com/palmerlr</p>
    </div>
    <div>
      <h3>LinkedIn:</h3>
      <p>linkedIn...</p>
    </div>
  </div>
</section>
