---
---

:root {
  // Original color scheme
  --red-900: #490a00;
  --red-100: mistyrose;
  --yellow: rgb(255, 227, 166);

  // current color scheme
  --space-900: #2b2d42;
  --space-700: #505370;
  --space-100: #d1d5eb;
  --space-50: #efecff;
  --rose: #f9e8f1;
  --tangerine: #f0c2b7;

  --main-fg: var(--space-700);
  --main-bg: var(--space-100);
  --dark-bg: var(--space-900);
  --accent: var(--rose);
  --alt-accent: var(--tangerine);
}
@font-face {
  font-family: IBM Plex Sans;
  font-weight: regular;
  src: url("/assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-bg);
  color: #161616;
  width: 100%;
  margin: 0 auto;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

/* Library =================================================== */
.rounded {
  border-radius: 8px;
}

/* Navigation ================================================ */
nav {
  background-color: var(--dark-bg);
  color: var(--main-bg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0.65rem 0;
  min-height: 10vh;
  width: 100%;
}
nav a {
  border-radius: 2rem;
  color: inherit;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
nav div:last-child a:hover {
  background-color: var(--dark-bg);
}
nav a:hover {
  background-color: var(--accent);
  color: var(--dark-bg);
  transition: background-color 0.1s ease-in;
  box-shadow: rgba(0, 0, 0, 0.1);
}
nav div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#github-mark {
  height: 2rem;
  width: auto;
}

/* Layout ==================================================== */
.header-text {
  font-size: 3rem;
  font-weight: lighter;
}
.subheader-text {
  font-size: 2rem;
  font-weight: lighter;
}
h2.header-text {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
}
/* Hero ====================================================== */
.hero {
  display: grid;
  color: var(--main-fg);
  min-height: 90vh;
}
.hero-heading {
  display: flex;
  align-items: center;
  padding: 0.7em 2em;
}
.hero-heading .greeting {
  font-size: 5rem;
}
.hero-desc {
  padding: 0em 2em;
}
.hero-heading .header-text,
.hero-desc .subheader-text {
  line-height: 1.2em;
}

/* Projects ================================================== */
.projects {
  background-color: var(--dark-bg);
  color: var(--main-bg);
}
.project-list {
  display: grid;
  margin: 0 1rem;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding-bottom: 3rem;
}
.project {
  padding: 0 1rem 0.5rem 1rem;
  background-color: var(--main-bg);
  color: var(--dark-bg);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.project .title {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
}
.project .desc {
  font-size: 1rem;
  margin: 1rem 0rem;
}
.project img {
  max-width: 100%;
  min-height: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s;
  transition-timing-function: ease-out;
}
.project img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.tech-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0em;
  list-style-type: none;
}
.tech-list .chip {
  background-color: var(--alt-accent);
  color: var(--dark-bg);
  margin: 0.5rem;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.tech-list .chip:first-child {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

/* Contact =================================================== */
.contact {
  background-color: var(--dark-bg);
  color: var(--main-bg);
  min-height: 100vh;
}
.contact-desc {
  width: 50%;
  margin: auto;
  padding: 1.4em;
  background-color: var(--main-bg);
  color: var(--main-fg);
  /* box-shadow: 7px 10px 30px rgba(0,0,0,0.3); */
  // box-shadow: 1rem 1rem 0 var(--accent);
}
.contact-desc div {
  // background-color: var(--main-fg);
  color: var(--main-fg);
  // border: var(--alt-accent) solid 2px;
  // box-shadow: 7px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 1.5em 0em;
}
.contact-desc h3 {
  margin: 0em;
  // border-bottom: black solid 2px;
  padding: 1em;
  text-align: left;
}
.contact-desc p {
  margin: 0em;
  padding: 1em;
}
footer {
  background-color: var(--dark-bg);
  color: var(--main-bg);
  padding: 1rem 1rem;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Layout ======================================================= */
  .hero-desc {
    width: 70%;
  }
  .header-text {
    font-size: 5rem;
  }
  .hero-heading .greeting {
    font-size: 6.5rem;
  }
  .subheader-text {
    font-size: 2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Layout ======================================================= */
  .header-text {
    font-size: 6rem;
  }
  .hero-heading .greeting {
    font-size: 7.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    padding-bottom: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-heading {
    margin: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-desc {
    width: 60%;
    margin: auto;
    padding: 1.4em;
    background-color: var(--accent);
    color: var(--dark-bg);
    /* box-shadow: 7px 10px 30px rgba(0,0,0,0.3); */
    box-shadow: 2rem 2rem 0 var(--main-fg);
  }
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .project img {
    min-height: 280px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
