---
---

:root {
  // color scheme
  --main-fg: black;
  --main-bg: white;
  --main-bg-alt: #fafaff;
  --main-fg-alt: #777777;
  --space-900: #2b2d42;
  --space-700: #505370;
  --space-500: #616796;
  --space-100: #d1d5eb;
  --space-50: #efecff;

  --primary: var(--space-900);
  --on-primary: var(--main-bg);
  --primary-alt: var(--space-700);
  --on-primary-alt: var(--main-bg);

  --secondary: var(--space-500);
  --secondary-alpha: #61679640;
  --secondary-alt: var(--space-700);
  --on-secondary: var(--main-bg);

  --accent: var(--space-500);
  --accent-alt: var(--space-50);
  --on-accent: var(--space-900);

  // alt color scheme
  --paradise: #ef476f;
  --paradise-dark: #b8304f;
  --orange-yellow: #ffc43d;
  --blue: #1b9aaa;
  --carib-green: #06d6a0;
}

@font-face {
  font-family: IBM Plex Sans;
  font-weight: regular;
  src: url("/assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  --dot: var(--main-bg);
  --dot-alt: var(--main-fg);
  font-size: 1rem;
  // dotted background
  background: linear-gradient(
      0deg,
      var(--dot) 48%,
      var(--dot-alt) 48%,
      var(--dot-alt) 52%,
      var(--dot) 52%
    ),
    linear-gradient(
      90deg,
      var(--dot) 48%,
      var(--dot-alt) 48%,
      var(--dot-alt) 52%,
      var(--dot) 52%
    );
  background-blend-mode: screen;
  background-size: 50px 50px;
  background-position: 0 -25px;
  color: var(--main-fg);
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}
code {
  background-color: var(--space-50);
  border-radius: 0.25rem;
  padding: 0.25rem;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 2;
}
.hero-heading-text,
.subheading-text,
.hero-subheading-text {
  background-color: transparent;
  font-weight: normal;
}
.hero,
.subsection-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Navigation ================================================ */
.main-nav {
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 1rem 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.main-nav-link {
  border-radius: 2rem;
  padding: 0.4rem 0.75rem;
  &:hover {
    background-color: var(--main-bg);
    color: var(--primary-alt);
    transition: background-color 0.1s ease-in;
  }
}
.main-nav-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav-image-link-img {
  height: 2rem;
  width: auto;
}

/* Hero ====================================================== */
.hero {
  color: var(--main-fg);
  min-height: 100vh;
  margin: 0 1rem;
}
.hero-heading {
  flex: 0 2;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
}
.hero-heading-text {
  background-color: var(--main-bg);
  margin: auto 0;
}
.hero-desc {
  flex: 0 2;
  width: 100%;
  background-color: var(--main-bg);
  color: var(--main-fg);
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.hero-subheading-text-mobile {
  display: block;
  padding: 0.75rem 0.5rem;
}
.hero-action {
  flex: 0 2;
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: center;
}
.hero-action-link {
  position: relative;
  border: solid 1px var(--main-fg);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: transparent;
  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.12s linear;
    background-color: rgba(255, 166, 0, 0.5);
  }
  &:hover::before {
    opacity: 50%;
  }
}
.text-scroller {
  display: none;
}

/* Projects ================================================== */
.subsection-block.projects {
  background-color: var(--main-bg-alt);
  color: var(--main-fg);
}
.project-card,
.project-card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.project-list {
  display: grid;
  margin: 1rem 1.5rem 0rem 1.5rem;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding-bottom: 3rem;
}
.project-card {
  position: relative;
  background-color: var(--main-bg);
  color: var(--main-fg);
  transition: transform 0.2s;
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.2);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s;
  }
}
.project-card-body {
  flex: 1;
  margin: 0.75rem;
}
.project-card-title {
  flex: 1;
  font-size: 1.8rem;
  margin: 0rem 0.5rem;
}
.project-card-desc {
  flex: 2;
  font-size: 1rem;
  margin: 0.5rem 0.75rem;
}
.project-card-lang {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--main-fg-alt);
}
.project-card-img {
  max-width: 100%;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top 50%;
}
.project-card-img.anki {
  object-position: left top;
}
.project-card-actions {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0em;
  z-index: 1;
}
.project-card-action-link {
  color: var(--accent);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.1rem;
  margin-right: 1rem;
  transition: background-color 0.2s;
  &:hover {
    color: var(--on-accent);
    background-color: var(--accent-alt);
  }
}

/* Contact =================================================== */
.subsection-block.contact {
  background-color: var(--main-bg);
  color: var(--primary);
}
.contact-desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  min-height: 40vh;
  margin: 1rem;
  padding: 1.4em;
}
.contact-entry {
  color: var(--main-fg);
  margin: 1rem 3rem;
  text-align: center;
}
.contact-entry-text {
  display: block;
}
.contact-entry-img {
  height: 64px;
  width: 64px;
}
.main-footer {
  margin: auto 0 0 0;
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 1rem 1rem;
}

/* Project Page ============================================== */
.proj-pg {
  max-width: 100%;
  margin: 1rem;
  background-color: var(--main-bg);
}
.proj-pg .details,
.proj-carousel {
  flex: 1 1 100%;
}
.proj-carousel {
  position: relative;
  overflow-x: hidden;
}
.proj-carousel > .rail {
  display: flex;
  flex-direction: row;
  height: 100%;
  left: -100%;
  position: relative;
  top: 0;
}
.proj-carousel > .rail.sliding {
  transition: linear 0.2s left;
}
.proj-carousel .slide {
  background-color: var(--main-bg-alt);
  max-width: 100%;
  object-fit: cover;
}
.proj-carousel > .controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.proj-carousel .btn-left,
.proj-carousel .btn-right {
  background-color: var(--secondary-alpha);
  border: none;
  color: var(--main-bg);
  font-size: 2rem;
  // height: 25%;
  min-height: 42px;
  padding: 0;
  width: 42px;
  &:active {
    color: var(--accent);
  }
  &:hover {
    cursor: pointer;
  }
}
.proj-pg .details a {
  text-decoration: underline;
  color: var(--accent);
}
.proj-pg .proj-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1rem 0;
}
.proj-pg .proj-title {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
  flex: 1 1 50%;
}
.proj-pg .proj-repo {
  color: var(--main-fg);
  flex: 1 0 0;
  text-align: center;
  font-size: 1rem;
  transition: color 0.2s;
  &:hover {
    color: var(--primary-alt);
  }
}
.proj-pg .gh-badge {
  height: 1.5rem;
  width: 1.5rem;
}
.proj-pg .tech {
  border: solid black 1px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  padding: 0.25rem;
  font-size: 1rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .subheading-text {
    font-size: 3rem;
  }
  .hero-subheading-text-mobile {
    display: none;
  }
  .hero-desc {
    background-color: transparent;
    font-size: 2rem;
  }
  .hero-subheading-text {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    overflow-y: hidden;
    position: relative;
  }
  .hero-noun-list span {
    display: block;
    height: 2.5rem;
    text-align: left;
  }
  .hero-action-link {
    background-color: var(--main-bg);
    border-color: var(--main-fg);
  }
  .slide-up {
    transform: translateY(-100%);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  }
  .text-scroller {
    display: flex;
    flex-flow: row nowrap;
    transform: translateX(8%);
    background-color: var(--main-bg);
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero-heading {
    font-size: 3rem;
  }
  .main-nav-link {
    font-size: 1.5rem;
  }
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Project Page ============================================== */
  .proj-pg {
    width: 85%;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project-card:hover {
    transform: translateY(-2px);
    &::before {
      opacity: 1;
    }
  }

  /* Project Page ============================================== */
  .proj-pg {
    width: 70%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-heading {
    font-size: 3.5rem;
  }
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Project Page ============================================== */
  .proj-pg {
    width: 55%;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
