---
layout: default
---

<div class="proj-pg">
  <div class="content">
    <div class="proj-carousel">
      <div class="rail">
        <!-- prettier-ignore -->
        {% for image in page.images %} 
          <img 
            class="slide" 
            src="{{ "/assets/img/projects/" | append: image[0] }}" 
            alt="{{ image[1] }}"/>
        {% endfor %}
      </div>
      {% if page.images.size > 1 %}
        <div class="controls">
          <button class="btn-left">&larr;</button>
          <button class="btn-right">&rarr;</button>
        </div>
      {% endif %}
    </div>
    <div class="details">
      <div class="proj-header">
        <h1 class="proj-title">{{ page.title }}</h1>
        <a class="proj-repo" href="{{page.repo}}"
          ><img
            class="gh-badge"
            src="/assets/img/GitHub-Mark-64px.png"
            alt="GitHub mark"
          />
          Repo
        </a>
      </div>
      <div class="tech">
        <!-- prettier-ignore -->
        {% for tech in page.techs %} 
          {% assign list= list | append: " | " | append: tech %} 
        {% endfor %} 
        {{page.lang}}{{list}}
      </div>
      {{ content | markdownify }}
    </div>
  </div>
</div>
<script src="/assets/js/carousel.js"></script>
