.hero {
  color: var(--main-fg);
  padding: 80px 15px 40px 15px;
  margin: 0;
}

.hero-heading {
  flex: 0 2;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}

.hero-heading-text {
  transform: rotate(1deg);
  background-color: var(--yellow-note);
  color: var(--note-fg-color);
  padding: 15px 30px;
  box-shadow: 2px 3px 2px rgba(150, 147, 130, 0.2);
  font-weight: 500;
  margin: auto 0;
  position: relative;
}
.hero-heading-text:before {
  content: "";
  position: absolute;
  height: var(--tape-width);
  width: calc(var(--tape-width) * 2.2);
  background-color: var(--tape-color);
  transform: rotate(-34deg);
  left: calc(var(--tape-width) * -1 + 10px);
  top: -19px;
}
.hero-heading-text:after {
  content: "";
  position: absolute;
  height: var(--tape-width);
  width: calc(var(--tape-width) * 2);
  background-color: var(--tape-color);
  transform: rotate(-45deg);
  right: calc(var(--tape-width) * -1 + 10px);
  bottom: -27px;
}

.hero-desc {
  flex: 0 2;
  width: 100%;
  color: var(--main-fg);
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.hero-caption-text {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  position: relative;
}
.hero-caption-text p {
  line-height: 1.75em;
  max-width: 555px;
}

.hero-action {
  flex: 0 2;
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: center;
}

.hero-action-link {
  position: relative;
  border: solid 1px var(--main-fg);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: var(--main-bg);
  border-color: var(--main-fg);
}
.hero-action-link:before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.12s linear;
  background-color: rgba(141, 135, 124, 0.5);
}
.hero-action-link:hover::before {
  opacity: 50%;
}

.text-scroller {
  display: none;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .hero-heading-text {
    padding: 15px 40px;
  }
  .hero-desc {
    font-size: 1.8rem;
  }
  .hero-noun-list span {
    display: block;
    height: 2.5rem;
    text-align: left;
  }
  .slide-up {
    transform: translateY(-100%);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  }
  .text-scroller {
    display: flex;
    flex-flow: row nowrap;
    transform: translateX(8%);
    background-color: var(--main-bg);
  }
}
@media (min-width: 768px) {
  .hero-heading {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero-heading {
    font-size: 3rem;
  }
}
#projects .project-card {
  background-color: var(--main-bg);
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.2);
  color: var(--main-fg);
  margin: 10px;
  padding: 8px 10px;
  position: relative;
  transition: transform 0.2s;
}
#projects .project-card::before {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  content: "";
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;
}
@media (min-width: 992px) {
  #projects .project-card:hover {
    transform: translateY(-2px);
  }
  #projects .project-card:hover::before {
    opacity: 1;
  }
}

#projects {
  margin: 25px 40px 0px;
  overflow-y: clip;
}
#projects .project-card {
  margin: 0px;
  padding: 0px;
}
#projects .project-card.pins:after {
  content: "";
  position: absolute;
  height: 90px;
  width: 48px;
  --pin-color: #d33333;
  background: radial-gradient(var(--pin-color) 0 48%, transparent 53%), linear-gradient(96deg, transparent 0% 50%, var(--pin-color) 55%), linear-gradient(84deg, var(--pin-color) 0% 50%, transparent 55%), radial-gradient(var(--pin-color) 0 50%, transparent 55%), linear-gradient(195deg, grey 0%, silver 84%, transparent 86%);
  left: 40%;
  top: -13%;
  transform: rotate(-15deg);
  transition: transform 0.3s, background-position 0.25s;
  background-repeat: no-repeat;
  background-size: 80% 25%, 50% 40%, 50% 40%, 100% 25%, 8% 35%;
  background-position: 40% 0%, 0% 25%, 90% 25%, 50% 55%, 48% 75%;
}
#projects .project-card.pins:after:hover::after {
  transform: rotate(-15deg) translateY(-7px);
  background-position: 40% 0%, 0% 25%, 90% 25%, 50% 55%, 48% 80%;
}
#projects .project-card .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1;
  margin: 0.75rem;
}
#projects .project-card .content .desc {
  flex: 2;
  font-size: 1rem;
  margin: 0.5rem 0.75rem;
}
#projects .project-card .content .desc .lang {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--main-fg-alt);
}
#projects .project-card .content .title {
  font-weight: 600;
  flex: 1;
  font-size: 1.8rem;
  margin: 0rem 0.5rem;
}
#projects .project-card .content .actions {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0em;
  z-index: 1;
}
#projects .project-card .content .actions a {
  color: var(--accent);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.1rem;
  margin-right: 1rem;
  transition: background-color 0.2s;
}
#projects .project-card .content .actions a:hover {
  color: var(--on-accent);
  background-color: var(--accent-alt);
}
#projects .project-card img {
  max-width: 100%;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: 50% top;
}
#projects .project-card img.dw-anki {
  object-position: left top;
}
@media (max-width: 576px) {
  #projects {
    margin: 25px 8px 0px;
  }
}

.subsection-block.contact {
  color: var(--primary);
}

.contact-desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 100%;
  margin: 1rem;
  padding: 1.4em;
  gap: 30px;
}
.contact-desc .badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-desc .badge.orange {
  transform: rotate(5deg);
  box-shadow: 2px 3px 2px rgba(150, 147, 130, 0.2);
}
.contact-desc .badge.orange:after {
  height: 1em;
}
.contact-desc .badge.pink {
  transform: rotate(-3deg);
  box-shadow: 2px 1px 2px rgba(150, 147, 130, 0.2);
}
.contact-desc .badge.pink:after {
  height: 10px;
}
.contact-desc .badge.green {
  transform: rotate(3deg);
  box-shadow: 1px 2px 2px rgba(150, 147, 130, 0.2);
}
.contact-desc .badge.green:after {
  height: 15px;
}

.main-footer {
  color: rgba(170, 191, 199, 0.8352941176);
  margin: auto 0 0 0;
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 1rem 1rem;
}

.badge {
  color: var(--main-fg);
  margin: 1rem 3rem;
  text-align: center;
}
.badge .label {
  display: block;
  font-size: 22px;
  font-weight: 500;
}
.badge .icon {
  height: 64px;
  width: 64px;
}

:root {
  --main-fg: rgb(20, 17, 22);
  --main-bg-img: url("/assets/svg/dots.svg");
  --main-bg: rgb(254, 255, 250);
  --main-bg-alt: #ffffff;
  --main-fg-alt: #777777;
  --space-900: #2b2d42;
  --space-700: #505370;
  --space-500: #616796;
  --space-100: #d1d5eb;
  --space-50: #efecff;
  --charcoal: #3d3d3d;
  --primary: var(--charcoal);
  --on-primary: var(--paper-color);
  --primary-alt: var(--space-700);
  --on-primary-alt: var(--main-bg);
  --secondary: var(--space-500);
  --secondary-alpha: #61679640;
  --secondary-alt: var(--space-700);
  --on-secondary: var(--main-bg);
  --accent: rgb(92, 106, 124);
  --accent-alt: rgb(219, 235, 255);
  --on-accent: var(--charcoal);
  --yellow-note: #ff9;
  --green-note: #ccee9c;
  --pink-note: #ffaed0;
  --orange-note: #f1901d;
  --note-fg-color: rgb(20, 17, 22);
  --tape-width: 40px;
  --tape-color: rgba(206, 206, 206, 0.2);
  --paper-color: rgb(250, 247, 234);
  --notepad-line: rgba(137, 163, 194, 0.9);
}

:root.dark-mode {
  --main-bg: var(--charcoal);
  --main-bg-img: url("/assets/img/chalkboard.png");
  --main-fg: rgb(254, 255, 250);
  --main-bg-alt: #fafaff;
  --main-fg-alt: #777777;
}

@font-face {
  font-family: "Figtree Static";
  font-weight: 400;
  src: url("/assets/Figtree/static/Figtree-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Figtree Static";
  font-weight: 500;
  src: url("/assets/Figtree/static/Figtree-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Figtree Static";
  src: url("/assets/Figtree/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Figtree;
  src: url("/assets/Figtree/Figtree-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background-image: var(--main-bg-img);
  background-color: var(--main-bg);
  color: var(--main-fg);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  font-family: "Figtree Static", Arial, sans-serif;
}

@supports (font-variation-settings: "wght" 400) {
  body {
    font-family: Figtree, Arial, sans-serif;
  }
}
code {
  background-color: var(--accent-alt);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

.hero-caption-text {
  background-color: transparent;
  font-weight: normal;
}

.subheading-text.note.yellow {
  font-size: 32px;
  font-weight: 650;
  height: auto;
  width: auto;
  padding: 30px 40px;
  transform: rotate(-1deg);
}
.subheading-text.note.yellow:before {
  content: "";
  position: absolute;
  height: var(--tape-width);
  width: 140px;
  background-color: var(--tape-color);
  transform: rotate(-3deg);
  left: calc(50% - 70px);
  top: calc(var(--tape-width) / -3 * 1.5);
}

.hero,
.subsection-block {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-list {
  padding: 20px 10px;
  position: relative;
}
.project-list:after {
  content: "";
  height: 115%;
  min-width: 600px;
  width: 100%;
  position: absolute;
  top: -8%;
  left: 0;
  background-image: linear-gradient(90deg, transparent 2px, rgba(247, 160, 160, 0.6), transparent 8px), linear-gradient(0deg, var(--paper-color) 0% 100%), linear-gradient(0deg, var(--paper-color) 0% 2%, var(--notepad-line) 6% 10%, var(--paper-color) 12% 100%);
  background-size: 8px, 100% 200px, 100% 25px;
  background-position: 14% 0%, 0 0, 0 25px;
  background-repeat: no-repeat, no-repeat, repeat-y;
  z-index: -1;
  transform: rotate(0.5deg);
}
@media (max-width: 992px) {
  .project-list:after {
    top: -4%;
    left: -10%;
    width: 120%;
    background-size: 8px, 100% 135px, 100% 25px;
  }
}
@media (max-width: 768px) {
  .project-list:after {
    left: -8%;
    transform: rotate(0deg);
    background-size: 8px, 100% 100px, 100% 25px;
  }
}
@media (max-width: 576px) {
  .project-list:after {
    left: -10%;
  }
}

.section-wrapper {
  max-width: 100%;
}

.card-group {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem 1.5rem 0rem 1.5rem;
  padding: 0 0 3rem 0;
  row-gap: 2rem;
  width: 90%;
}

.note {
  color: var(--note-fg-color);
  width: 175px;
  height: 175px;
  position: relative;
  transform: rotate(5deg);
  background-color: var(--orange-note);
  box-shadow: 2px 3px 2px rgba(150, 147, 130, 0.2);
}
.note:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%);
  background-size: 49% 100%;
  background-position: 2% 0, 98% 0;
}
.note.pink {
  background-color: var(--pink-note);
}
.note.yellow {
  background-color: var(--yellow-note);
}
.note.green {
  background-color: var(--green-note);
}
.note.orange {
  background-color: var(--orange-note);
}

/* // Small devices (landscape phones, 576px and up) */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --tape-width: 60px;
  }
  .card-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .subheading-text.note.yellow {
    font-size: 40px;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-group {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .section-wrapper {
    max-width: 1200px;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/*# sourceMappingURL=index.css.map */
